/* 
colors
black: #241f1b
white: #f1efe4
red: #791e0e
*/
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC');


.register-background {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRaA-3I6b1sgUm5phscOlbAmhxxXkKTiM_q8jnMRrOUiVKrs9s1Q');
    height: 90vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
.register-parent {
    display: flex;
    flex-direction: column;
    background: #241f1b;
    background-repeat: repeat;
    height: 80vh;
    width: 360px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: #241f1b;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.register-parent div {
    padding: 30px 0;
    color: #ffffff;
}

.register-parent p {
    /* margin-bottom: 307px; */
}

.register-link {
    text-decoration: none;
    color: #791e0e;
    /* padding-bottom: 100px; */
}

.register-parent button {
    background: #241f1b;
    color: white;
    height: 30px;
    width: 120px;
    border-radius: 20px;
}

.register-title {
    /* background: #241f1b; */
    height: 200px;
    padding: 0;
}

.register-title img {
    max-height: 100px;
    max-width: 100px;
}

.register-names {
    padding: 2px;
}

.register-h1One {
    color: #791e0e;
    font-size: 40px;
}

.register-h1Two {
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
}

.login-h1Three {
    color: #791e0e;
    font-size: 30px;
    padding-top: 30px;
}

.none {
    display: none;
}

.error-message {
    position: fixed;
    background: #791e0e;
    text-align: center;
    height: 30px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.x-out {
    position: fixed;
    right: 10px;
    bottom: 60px;
    color: white;
    font-size: 25px;
}

.register-h1Three {
    color: #791e0e;
    font-size: 30px;
    padding-top: 30px;
}