@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC');
@import url('https://fonts.googleapis.com/css?family=Megrim');

html {
  text-align: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRaA-3I6b1sgUm5phscOlbAmhxxXkKTiM_q8jnMRrOUiVKrs9s1Q');
  width: 100%;
}